.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-right: 5vw;
  padding-left: 5vw;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  border-radius: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.link-text {
  font-weight: bold;
}

.input-form {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid black;
}

.text-center {
  text-align: center;
}

.button-submit {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.button-back {
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  /* Media query for mobile devices */
  .form {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    row-gap: 1rem;
  }

  .input-text {
    margin-bottom: 10px;
  }
}
